@model SistemaCrud.Models.Materia
@{
    ViewData["Title"] = "Detalles";
}
<h2>Detalles</h2>

<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>

    <dt class="col-sm-2">Descripción</dt>
    <dd class="col-sm-10">@Model.Descripcion</dd>
</dl>

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
<a class="btn btn-secondary" asp-action="Index">Volver</a>

